{% trans_default_domain 'email' %}

{% extends "email/base.html.twig" %}

{% set pre_header_text = 'user.email_validation.pre_header' %}

{% block hero %}

{% endblock %}

{% block content %}
    {{ 'user.email_validation.content'|trans|markdown_to_html }}

    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0"
           style="margin: auto; margin-top: 30px !important; margin-bottom: 40px!important;">
        <tr>
            <td class="button-td">
                <a class="button-a"
                   href="{{ email_verification_url }}">{{ 'user.email_validation.cta'|trans }}</a>
            </td>
        </tr>
    </table>
{% endblock %}
