{% trans_default_domain 'email' %}

{% extends "email/base.html.twig" %}

{% set pre_header_text = 'user_follow.video_published.pre_header'|trans({'%followingUsername%': followingUsername}) %}

{% block hero %}
{% endblock %}

{% block greeting %}
    <h1>{{ 'user_follow.video_published.greeting'|trans }}</h1>
{% endblock %}

{% block content %}
    {{ 'user_follow.video_published.line_1'|trans({'%followingUsername%': followingUsername})|markdown_to_html }}

    <table role="presentation" cellspacing="0" cellpadding="0" border="0"
           style="margin-top: 30px !important; margin-bottom: 40px!important;">
        <tr>
            <td class="button-td">
                <a class="button-a"
                   href="{{ cta_url }}">{{ 'user_follow.video_published.cta'|trans }}</a>
            </td>
        </tr>
    </table>
{% endblock %}
